In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv(os.path.join(os.getcwd(), "data", "cleaned_data", "all_data.csv"), index_col=0)
df.head()

,Latitude,Longitude,county,rf_irr,2011-04-07,2011-04-23,2011-05-09,2011-05-25,2011-06-10,2011-06-26,...,2012-04-06,2012-04-22,2012-05-08,2012-05-24,2012-06-09,2012-06-25,2012-07-11,2012-07-27,2012-08-12,2012-08-28
0,34.990601,-86.779999,Madison,0.0,4421,3276,2311,2988,2734,4211,...,3747,3416,2782,4794,5903,4964,5358.0,5287.0,3766,3680.0
1,34.990601,-86.777496,Madison,0.0,4421,3276,2445,3072,3030,4211,...,3659,3400,3202,5065,4745,4172,4764.0,4815.0,3797,3916.0
2,34.990601,-86.764801,Madison,0.0,4981,4962,3469,4083,3838,5155,...,5169,4230,3126,4240,5217,3612,5986.0,5905.0,4957,3974.0
3,34.990601,-86.757202,Madison,0.0,5000,3959,4367,3958,3031,3781,...,3732,4808,4320,5187,4801,4535,5090.0,4958.0,4200,3011.0
4,34.990601,-86.754600,Madison,0.0,5000,3822,3801,2854,2302,3863,...,3123,3525,3904,5480,5388,4324,4456.0,4866.0,3261,3443.0

In [3]:
df.describe()

,Latitude,Longitude,rf_irr,2011-04-07,2011-04-23,2011-05-09,2011-05-25,2011-06-10,2011-06-26,2011-07-12,...,2012-04-06,2012-04-22,2012-05-08,2012-05-24,2012-06-09,2012-06-25,2012-07-11,2012-07-27,2012-08-12,2012-08-28
count,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,...,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000,14613.000000
mean,34.382267,-86.595015,0.236639,3919.609731,3648.742832,3366.328885,3300.604120,3262.998768,4273.409225,5670.318141,...,3671.678711,3672.247519,3462.942175,3896.273524,4244.099364,4020.600014,4796.142134,5515.755355,5612.129747,4977.415041
std,1.133842,0.500871,0.425033,1646.620460,1653.185464,1264.684928,1249.130183,1090.067190,1436.752276,1381.950655,...,1628.895735,1567.040877,1232.839150,1515.901975,1400.810134,1269.651830,1544.311819,1501.194508,1685.277174,1671.108884
min,30.999237,-87.262680,0.000000,155.000000,-496.000000,-113.000000,-47.000000,419.000000,172.000000,-9999.000000,...,-29.000000,-50.000000,477.000000,463.000000,454.000000,773.000000,-9999.000000,-9999.000000,636.000000,0.000000
25%,34.631302,-86.903084,0.000000,2518.000000,2216.000000,2288.000000,2300.000000,2445.000000,3234.000000,4758.000000,...,2293.000000,2376.000000,2474.000000,2647.000000,3195.000000,3080.000000,3849.000000,4582.000000,4427.000000,3756.000000
50%,34.747650,-86.745003,0.000000,3785.000000,3359.000000,3271.000000,3067.000000,3046.000000,4220.000000,5770.000000,...,3327.000000,3383.000000,3317.000000,3613.000000,4155.000000,3853.000000,4846.000000,5602.000000,5726.000000,5056.000000
75%,34.876400,-86.470398,0.000000,5150.000000,5008.000000,4299.000000,4111.000000,3890.000000,5281.000000,6645.000000,...,4898.000000,4759.000000,4289.000000,4988.000000,5185.000000,4799.000000,5749.000000,6546.000000,6890.000000,6252.000000
max,34.991402,-85.023468,1.000000,8827.000000,8411.000000,7696.000000,8302.000000,9008.000000,9339.000000,9735.000000,...,8356.000000,9520.000000,8306.000000,9129.000000,9906.000000,9918.000000,9865.000000,9976.000000,9735.000000,9893.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14613 entries, 0 to 6730
Data columns (total 24 columns):
Latitude      14613 non-null float64
Longitude     14613 non-null float64
county        14613 non-null object
rf_irr        14613 non-null float64
2011-04-07    14613 non-null int64
2011-04-23    14613 non-null int64
2011-05-09    14613 non-null int64
2011-05-25    14613 non-null int64
2011-06-10    14613 non-null int64
2011-06-26    14613 non-null int64
2011-07-12    14613 non-null float64
2011-07-28    14613 non-null float64
2011-08-13    14613 non-null int64
2011-08-29    14613 non-null int64
2012-04-06    14613 non-null int64
2012-04-22    14613 non-null int64
2012-05-08    14613 non-null int64
2012-05-24    14613 non-null int64
2012-06-09    14613 non-null int64
2012-06-25    14613 non-null int64
2012-07-11    14613 non-null float64
2012-07-27    14613 non-null float64
2012-08-12    14613 non-null int64
2012-08-28    14613 non-null float64
dtypes: float64(8), int64(15), object(1)
memory usage: 2.8+ MB

We need to split the data into train, validate, test. But this split needs to be representative of the whole. So we will sample each county separately and sample each flag of rainfed vs irrigated separately

In [5]:
df_madison = df.loc[df["county"] == "Madison"]

In [6]:
df_madison.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6291 entries, 0 to 1287
Data columns (total 24 columns):
Latitude      6291 non-null float64
Longitude     6291 non-null float64
county        6291 non-null object
rf_irr        6291 non-null float64
2011-04-07    6291 non-null int64
2011-04-23    6291 non-null int64
2011-05-09    6291 non-null int64
2011-05-25    6291 non-null int64
2011-06-10    6291 non-null int64
2011-06-26    6291 non-null int64
2011-07-12    6291 non-null float64
2011-07-28    6291 non-null float64
2011-08-13    6291 non-null int64
2011-08-29    6291 non-null int64
2012-04-06    6291 non-null int64
2012-04-22    6291 non-null int64
2012-05-08    6291 non-null int64
2012-05-24    6291 non-null int64
2012-06-09    6291 non-null int64
2012-06-25    6291 non-null int64
2012-07-11    6291 non-null float64
2012-07-27    6291 non-null float64
2012-08-12    6291 non-null int64
2012-08-28    6291 non-null float64
dtypes: float64(8), int64(15), object(1)
memory usage: 1.2+ MB

In [7]:
df_houston = df.loc[df["county"] == "Houston"]

In [8]:
df_limestone = df.loc[df["county"] == "Limestone"]

In [9]:
indices = {}
for county_df in [df_houston, df_limestone, df_madison]:
    rf_indices = county_df.loc[county_df["rf_irr"] == 0].index.values
    irr_indices = county_df.loc[county_df["rf_irr"] == 1].index.values
    county = county_df.iloc[0, :].loc["county"]
    indices[county + "_rf"] = rf_indices
    indices[county + "_irr"] = irr_indices

In [10]:
for key, val in indices.items():
    print(key)
    print(len(val))

Houston_rf
1372
Houston_irr
220
Limestone_rf
4763
Limestone_irr
1967
Madison_rf
5020
Madison_irr
1271

In [11]:
def split_indices(alist, train=0.25, validate=0.25, test=0.5, **kwargs):
    def almost_equals(left, right, tol=0.0001):
        if abs(left - right) < tol:
            return True
    
    if not almost_equals(train+validate+test, 1):
        raise ValueError("Train + validate + test should equal 1")
    
    copylist = copy.copy(alist)
    
    seed = kwargs.get("seed", 42)
    np.random.seed(seed)
    np.random.shuffle(alist)
    
    num = len(copylist)
    train_stop = int(num*train)
    validate_stop = int(num*validate) + train_stop
    
    
    return copylist[:train_stop], copylist[train_stop:validate_stop], copylist[validate_stop:]

In [12]:
train = []
validate = []
test = []
for key, val in indices.items():
    tr, va, te = split_indices(val)
    train.append(tr)
    validate.append(va)
    test.append(te)
train = np.concatenate(train)
validate = np.concatenate(validate)
test = np.concatenate(test)

In [13]:
train_df = df.iloc[train, :]
validate_df = df.iloc[validate, :]
test_df = df.iloc[test, :]

In [14]:
train_df.info()
validate_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3651 entries, 0 to 321
Data columns (total 24 columns):
Latitude      3651 non-null float64
Longitude     3651 non-null float64
county        3651 non-null object
rf_irr        3651 non-null float64
2011-04-07    3651 non-null int64
2011-04-23    3651 non-null int64
2011-05-09    3651 non-null int64
2011-05-25    3651 non-null int64
2011-06-10    3651 non-null int64
2011-06-26    3651 non-null int64
2011-07-12    3651 non-null float64
2011-07-28    3651 non-null float64
2011-08-13    3651 non-null int64
2011-08-29    3651 non-null int64
2012-04-06    3651 non-null int64
2012-04-22    3651 non-null int64
2012-05-08    3651 non-null int64
2012-05-24    3651 non-null int64
2012-06-09    3651 non-null int64
2012-06-25    3651 non-null int64
2012-07-11    3651 non-null float64
2012-07-27    3651 non-null float64
2012-08-12    3651 non-null int64
2012-08-28    3651 non-null float64
dtypes: float64(8), int64(15), object(1)
memory usage: 713.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3651 entries, 349 to 649
Data columns (total 24 columns):
Latitude      3651 non-null float64
Longitude     3651 non-null float64
county        3651 non-null object
rf_irr        3651 non-null float64
2011-04-07    3651 non-null int64
2011-04-23    3651 non-null int64
2011-05-09    3651 non-null int64
2011-05-25    3651 non-null int64
2011-06-10    3651 non-null int64
2011-06-26    3651 non-null int64
2011-07-12    3651 non-null float64
2011-07-28    3651 non-null float64
2011-08-13    3651 non-null int64
2011-08-29    3651 non-null int64
2012-04-06    3651 non-null int64
2012-04-22    3651 non-null int64
2012-05-08    3651 non-null int64
2012-05-24    3651 non-null int64
2012-06-09    3651 non-null int64
2012-06-25    3651 non-null int64
2012-07-11    3651 non-null float64
2012-07-27    3651 non-null float64
2012-08-12    3651 non-null int64
2012-08-28    3651 non-null float64
dtypes: float64(8), int64(15), object(1)
memory usage: 713.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7311 entries, 696 to 1296
Data columns (total 24 columns):
Latitude      7311 non-null float64
Longitude     7311 non-null float64
county        7311 non-null object
rf_irr        7311 non-null float64
2011-04-07    7311 non-null int64
2011-04-23    7311 non-null int64
2011-05-09    7311 non-null int64
2011-05-25    7311 non-null int64
2011-06-10    7311 non-null int64
2011-06-26    7311 non-null int64
2011-07-12    7311 non-null float64
2011-07-28    7311 non-null float64
2011-08-13    7311 non-null int64
2011-08-29    7311 non-null int64
2012-04-06    7311 non-null int64
2012-04-22    7311 non-null int64
2012-05-08    7311 non-null int64
2012-05-24    7311 non-null int64
2012-06-09    7311 non-null int64
2012-06-25    7311 non-null int64
2012-07-11    7311 non-null float64
2012-07-27    7311 non-null float64
2012-08-12    7311 non-null int64
2012-08-28    7311 non-null float64
dtypes: float64(8), int64(15), object(1)
memory usage: 1.4+ MB

In [15]:
train_df.describe()

,Latitude,Longitude,rf_irr,2011-04-07,2011-04-23,2011-05-09,2011-05-25,2011-06-10,2011-06-26,2011-07-12,...,2012-04-06,2012-04-22,2012-05-08,2012-05-24,2012-06-09,2012-06-25,2012-07-11,2012-07-27,2012-08-12,2012-08-28
count,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,...,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000
mean,34.924276,-86.594555,0.064366,4937.987949,4277.871816,3931.778691,3811.269241,3647.892084,4536.705560,6015.312243,...,4160.903588,4165.134758,3554.323473,4154.616543,4428.652972,3962.915092,4596.509176,5594.107094,5843.618187,5076.004930
std,0.108704,0.106557,0.245437,1298.133723,1648.577890,1238.183050,1168.477632,1075.763524,1393.533698,1099.615020,...,1540.053047,1534.380631,1053.967880,1437.912285,1343.576034,1083.189871,1282.655742,1185.546859,1561.531972,1539.589506
min,34.477798,-86.782700,0.000000,935.000000,1139.000000,1375.000000,1340.000000,1387.000000,1454.000000,1999.000000,...,1402.000000,1285.000000,1507.000000,1566.000000,1427.000000,1721.000000,753.000000,2565.000000,1791.000000,1575.000000
25%,34.921600,-86.693752,0.000000,4154.000000,2886.000000,2959.000000,2949.000000,2798.000000,3530.500000,5349.500000,...,2807.500000,2887.500000,2782.500000,2969.500000,3407.000000,3216.000000,3683.000000,4771.500000,4755.000000,3941.000000
50%,34.954899,-86.594704,0.000000,4896.000000,4268.000000,3903.000000,3677.000000,3489.000000,4553.000000,6105.000000,...,4027.000000,3979.000000,3508.000000,4120.000000,4423.000000,3889.000000,4583.000000,5504.000000,5889.000000,5120.000000
75%,34.976400,-86.516403,0.000000,5806.000000,5628.000000,4873.000000,4624.500000,4368.500000,5597.000000,6720.500000,...,5366.500000,5296.000000,4204.000000,5220.500000,5480.000000,4681.000000,5397.000000,6377.000000,7044.000000,6119.500000
max,34.990601,-86.308899,1.000000,8129.000000,8125.000000,7014.000000,7782.000000,7254.000000,8129.000000,9359.000000,...,8324.000000,8289.000000,7644.000000,8506.000000,8828.000000,8810.000000,9645.000000,9249.000000,9562.000000,9382.000000

In [16]:
validate_df.describe()

,Latitude,Longitude,rf_irr,2011-04-07,2011-04-23,2011-05-09,2011-05-25,2011-06-10,2011-06-26,2011-07-12,...,2012-04-06,2012-04-22,2012-05-08,2012-05-24,2012-06-09,2012-06-25,2012-07-11,2012-07-27,2012-08-12,2012-08-28
count,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,...,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000,3651.000000
mean,34.872538,-86.614578,0.134484,3904.175021,3377.636538,3211.183511,3243.126815,3171.332786,4392.329499,6235.763079,...,3510.226787,3504.089291,3274.911531,3666.000822,4332.302383,3975.464256,4479.449740,5696.110107,5741.178855,5090.958094
std,0.051452,0.085618,0.341218,1482.830854,1645.981538,1275.462550,1117.112297,1012.110697,1317.132243,1204.410215,...,1609.967745,1569.777150,1067.367027,1448.466556,1410.347669,1134.997184,1231.052734,1214.768738,1551.625737,1572.231310
min,34.747299,-86.782997,0.000000,1257.000000,941.000000,1214.000000,1343.000000,1278.000000,1134.000000,1969.000000,...,1202.000000,1016.000000,1304.000000,1391.000000,1427.000000,1721.000000,1128.000000,665.000000,1624.000000,1182.000000
25%,34.833599,-86.686500,0.000000,2676.000000,2020.000000,2175.500000,2385.000000,2403.000000,3527.500000,5507.000000,...,2136.000000,2216.000000,2436.000000,2487.000000,3246.500000,3215.000000,3648.000000,4906.000000,4716.500000,4084.000000
50%,34.869301,-86.621300,0.000000,3820.000000,3019.000000,2949.000000,3127.000000,2989.000000,4243.000000,6393.000000,...,3094.000000,3158.000000,3129.000000,3364.000000,4216.000000,3830.000000,4427.000000,5730.000000,5915.000000,5170.000000
75%,34.896400,-86.534699,0.000000,4911.000000,4540.500000,4173.000000,3927.000000,3811.000000,5179.000000,7076.000000,...,4724.500000,4474.000000,4019.000000,4703.500000,5298.000000,4675.500000,5256.500000,6487.000000,6862.000000,6239.500000
max,34.970902,-86.465897,1.000000,8827.000000,8285.000000,7085.000000,8035.000000,7294.000000,8415.000000,9261.000000,...,7689.000000,8545.000000,7338.000000,8002.000000,9906.000000,7733.000000,9605.000000,9907.000000,9735.000000,8850.000000

In [17]:
test_df.describe()

,Latitude,Longitude,rf_irr,2011-04-07,2011-04-23,2011-05-09,2011-05-25,2011-06-10,2011-06-26,2011-07-12,...,2012-04-06,2012-04-22,2012-05-08,2012-05-24,2012-06-09,2012-06-25,2012-07-11,2012-07-27,2012-08-12,2012-08-28
count,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,...,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000,7311.000000
mean,34.541935,-86.447005,0.079059,4024.771030,3704.278484,3398.963616,3276.414718,3185.952674,4197.455341,5790.369443,...,3693.307892,3732.290384,3486.345233,3916.274518,4462.645329,4381.862536,4873.349610,5604.763917,5552.289017,4734.581863
std,0.858971,0.281786,0.269849,1513.696471,1587.857317,1256.282974,1183.740584,1025.265529,1337.479374,1319.601423,...,1546.268851,1585.857111,1143.614950,1406.133550,1446.676006,1487.416669,1369.018079,1375.228983,1549.704952,1599.558736
min,31.070805,-86.788696,0.000000,383.000000,137.000000,530.000000,978.000000,1077.000000,984.000000,914.000000,...,725.000000,1033.000000,1216.000000,1285.000000,703.000000,1352.000000,583.000000,816.000000,1210.000000,482.000000
25%,34.590099,-86.572098,0.000000,2837.000000,2408.000000,2345.000000,2360.000000,2425.000000,3243.000000,4965.000000,...,2433.500000,2437.000000,2578.000000,2756.500000,3357.000000,3218.500000,3966.000000,4760.000000,4496.500000,3581.000000
50%,34.733501,-86.451698,0.000000,3897.000000,3436.000000,3310.000000,3069.000000,2989.000000,4128.000000,5925.000000,...,3355.000000,3377.000000,3375.000000,3741.000000,4421.000000,4193.000000,4898.000000,5621.000000,5605.000000,4754.000000
75%,34.902100,-86.404800,0.000000,5045.000000,4894.000000,4316.500000,4032.000000,3755.000000,5161.000000,6743.000000,...,4783.000000,4829.000000,4295.000000,4995.500000,5546.000000,5474.500000,5735.000000,6534.500000,6642.500000,5835.000000
max,34.991402,-85.349441,1.000000,8129.000000,8411.000000,7517.000000,7616.000000,7981.000000,8672.000000,9534.000000,...,7980.000000,8289.000000,7644.000000,8009.000000,9735.000000,9918.000000,9580.000000,9976.000000,9735.000000,9342.000000

From the counts of the three dataframes and the mean/std of the rf_irr in the dataframes we can tell that all three got the right size and have similar percentages of rainfed and irrigated fields.

In [18]:
def extract_in_out(df):
    x_in = df.drop(columns=["rf_irr", "county"]).to_numpy()
    y_out = df.loc[:, ["rf_irr"]].to_numpy()
    return x_in, y_out

In [19]:
X_train, y_train = extract_in_out(train_df)
X_validate, y_validate = extract_in_out(validate_df)
X_test, y_test = extract_in_out(test_df)

In [20]:
clf_tree = DecisionTreeClassifier(criterion='gini', max_depth=4, random_state=1)

clf_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [21]:
print(f"Train Score:\t\t{clf_tree.score(X_train, y_train)}")
print(f"Validate Score:\t\t{clf_tree.score(X_validate, y_validate)}")
print(f"Test Score:\t\t{clf_tree.score(X_test, y_test)}")

Train Score:		0.9449465899753492
Validate Score:		0.8805806628321008
Test Score:		0.9209410477362878

This setup seems to all work. Now to test it with various different parameters for the tree and see how the score changes.